<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <title>Post-Minkowskian EFT meets conservative potential at NNNLO</title>
    
    <meta name="description" content="Presentation Slides made with impress.js" />
    <meta name="author" content="Gregor Kaelin" />

	<script type="text/x-mathjax-config">
	  MathJax.Hub.Config({
      "HTML-CSS": {
	  scale: 90,
	  styles: {
      '.MathJax_Display': {
      "margin": "20px 0"
      }
      }
	  },
	  TeX: { extensions: ["color.js"] },
	  });
	</script>
	<script type="text/javascript" src="extras/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    <link href="css/main.css" rel="stylesheet" />
    <link rel="shortcut icon" href="favicon.png" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
  </head>

  <body class="impress-not-supported">

	<div class="fallback-message">
      <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
      <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
	  <p>
		$$
		\definecolor{desyOrange}{RGB}{242,142,0}
		\DeclareMathOperator{\Arcsinh}{arcsinh}
		\DeclareMathOperator{\Arctan}{arctan}
		\DeclareMathOperator{\arcosh}{arcosh}
		\newcommand\dd{{\mathrm d}}
		\newcommand{\bb}{{\mathbf b}}
		\newcommand{\bk}{{\mathbf k}}
		\newcommand{\bl}{{\mathbf l}}
		\newcommand{\bm}{{\mathbf m}}
		\newcommand{\bn}{{\mathbf n}}
		\newcommand{\bp}{{\mathbf p}}
		\newcommand{\bq}{{\mathbf q}}
		\newcommand{\br}{{\mathbf r}}
		\newcommand{\bw}{{\mathbf w}}
		\newcommand{\bx}{{\mathbf x}}
		\newcommand{\by}{{\mathbf y}}
		\newcommand{\bz}{{\mathbf z}}
		\newcommand\cM{\mathcal{M}}
		\newcommand\cO{\mathcal{O}}
		\newcommand{\cD}{\mathcal{D}}
		\newcommand\cE{\mathcal{E}}
		\newcommand\cS{\mathcal{S}}
		\newcommand\cP{\mathcal{P}}
		\newcommand\cF{\mathcal{F}}
		\newcommand\cL{\mathcal{L}}
		\newcommand\Mp{M_{\rm Pl}}
		$$
	  </p>
	</div>

	<div id="impress">

	  <div id="title" class="step" data-x="0" data-y="0">
		<h1>Post-Minkowskian EFT meets conservative potential at NNNL<span class="orange">O</span> </h1>
		<p class="margin-bottom30">Continuation of work with R. Porto & Z. Liu in<br/>
		  <a href="http://arxiv.org/abs/arXiv:1910.03008">[1910.03008]</a>
		  <a href="http://arxiv.org/abs/arXiv:1911.09130">[1911.09130]</a>
		  <br/>
		  <a href="http://arxiv.org/abs/arXiv:2006.01184">[2006.01184]</a>
		  <a href="http://arxiv.org/abs/arXiv:2007.04977">[2007.04977]</a>
		  <br/>
		  <a href="http://arxiv.org/abs/arXiv:2008.06047">[2008.06047]</a>
		</p>
		
		<img id="scatteringFig" src="figures/scattering.svg" alt="scattering">
		<img id="orbitFig" src="figures/orbit.svg" alt="orbit">
		
		<p id="author">
		  Gregor Kälin
		</p>

		
		<div class="margin-top50 margin-bottom30">
		  <img id="kawFig" src="figures/logo_KAW.png" alt="kaw"></img>
		  <img id="desyFig" src="figures/logo_DESY.png" alt="desy"></img>
		  <img id="slacFig" src="figures/SLAC.png" alt="slac"></img>
		</div>
		
		<div>
		  <i>
			QCD meets Gravity VI<br/>
			03.12.2020
		  </i>
		</div>
		<div>
		  <img id="ercFig" src="figures/erc.svg" alt="erc">
		  <img id="euFig" src="figures/eu.svg" alt="eu">
		</div>
	  </div>

	  <div id="main" class="step" data-rel-x="1700" data-rel-y="0">
		<img id="mainFig" src="figures/main.svg" alt="main"></img>
	  </div>

	  <div id="stateOfTheArt" class="step" data-rel-x="1700" data-rel-y="0">
		<h2>Scattering angle: state <span class="orange">o</span>f the art</h2>
		$$\frac{\chi}{2} = \sum_{n=1} \chi^{(n)}_b \left(\frac{GM}{b}\right)^n $$
		3PM result: <em>QCD meets Gravity 2018</em> <span class="refInline">[BCRSSZ 18; Cheung, Solon 20; GK, Liu, Porto 20]</span>
		$$\begin{align}
		\frac{\chi^{(1)}_b}{\Gamma} &= \frac{2\gamma^2-1}{\gamma^2-1}\\
		\frac{\chi^{(2)}_b}{\Gamma} &= \frac{3\pi}{8} \frac{5\gamma^2-1}{\gamma^2-1}\\
		\frac{\chi^{(3)}_b}{\Gamma} &= \frac{1}{(\gamma^2-1)^{3/2}}\Bigg[-\frac{4\nu}{3} \gamma\sqrt{\gamma^2-1}(14\gamma^2+25)\frac{(64\gamma^6-120\gamma^4+60\gamma^2-5)\Gamma^2}{3(\gamma^2-1)^{3/2}}\\
		&\quad-  8\nu (4\gamma^4-12\gamma^2-3)\Arcsinh\sqrt{\frac{\gamma-1}{2}}\,\Bigg]
		\end{align}$$
		with \(\gamma = u_1\cdot u_2 [=\sigma]\), \(\Gamma=\sqrt{1+2\nu(\gamma-1)}[=h(\gamma,\nu)]\), \(\nu=m_1m_2/M^2\).<br/>
		Directly feeds into the radial action (\(J=p_\infty b=G M \mu j\)):
		$$i_r(j,\cE) \equiv \frac{{\cal S}_r}{GM\mu} =  {\rm sg}(\hat p_\infty
)\chi^{(1)}_j(\cE) - j \left(1 + \frac{2}{\pi} \sum_{n=1}  \frac{\chi^{(2n)}_j({\cE})}{(1-2n)j^{2n}}\right)$$
	  </div>

	  <div id="stateOfTheArtPN" class="step" data-rel-x="0" data-rel-y="800">
		<h3><span class="h3span">What d<span class="orange">o</span> we know about \(\chi^{(4)}_b\)?</span></h3>
		Schwarzschild limit (\(\nu=0\)):
		$$\chi^{(4),\textrm{Sch}}_b=\frac{105 \pi  \left(33 \gamma ^4-18 \gamma ^2+1\right)}{128 \left(\gamma ^2-1\right)^2}$$
		Lots of PN data <span class="refInline">[Bini, Damour, Geralico 20; + Laporta, Mastrolia 20]</span>
		$$\chi^\textrm{tot} = \chi^\textrm{local}+\chi^\textrm{non-local}$$
		<br/>
		<img id="chiLocalFig" src="figures/chiLocal.png" alt="chiLocal"></img>
		<img id="chiNonLocalFig" src="figures/chiNonLocal.png" alt="chiNonLocal"></img>
	  </div>

	  <div id="pmeft" class="step" data-rel-x="1700" data-rel-y="0" data-rel-to="stateOfTheArt">
		<h2>PM-EFT for a w<span class="orange">o</span>rldline action coupled to GR</h2>
		<ul>
		  <li>Purely <em>classical</em> approach</li>
		  <li>Systematic, extension to finite size and spin exists <span class="refInline">(see Rafael's talk)</span>
		  <li>Perturbative expansion in \(G\): can use particle physics/amplitudes toolbox</li>
		  <li>Today: only <em>conservative</em> effects in the potential region</li>
		</ul>
		<h3><span class="h3span">Full the<span class="orange">o</span>ry</span></h3>
		<p class="center">
	      $$\begin{align}
		  S_{\rm EH} &= -2\Mp^2 \int \dd^4x \sqrt{-g} \, R[g]\\
		  S_{\rm pp} &= - \sum_a m_a \int \dd\sigma_a \sqrt{g_{\mu\nu}(x^\alpha_{a}(\sigma)) v_{a}^\mu(\sigma_a) v_{a}^\nu (\sigma_a)} + \dots\\
		  &\rightarrow -\sum_a \frac{m_a}{2} \int \dd\tau_a\,  g_{\mu\nu}(x_{a}(\tau_a)) v_{a}^\mu(\tau_a) v_{a}^\nu (\tau_a)+\dots
		  \end{align}$$
		</p>
		... = extensions to finite-size effects and spinning bodies
	  </div>

	  <div id="pmeft2" class="step" data-rel-x="0" data-rel-y="750">
		<h3><span class="h3span">EFT acti<span class="orange">o</span>n</span></h3>
		<p class="centerLeft">
		  $$e^{i S_{\rm eff}[x_a] } = \int \cD h_{\mu\nu} \, e^{i S_{\rm EH}[h] + i S_{\rm GF}[h] + i S_{\rm pp}[x_a,h]}$$
		  <img id="graphsEFTFig" src="figures/graphsEFT.svg" alt="graphsEFT">
		</p>
		We optimized the EH-Lagrangian by cleverly choosing gauge-fixing terms and adding total derivatives.
		<div class="row">
		  <div class="column">
			Without field redefinitions:
			<ul>
			  <li>2-point Lagrangian: 2 terms</li>
			  <li>3-point Lagrangian: 6 terms</li>
			  <li class="bg3PM">4-point Lagrangian: 18 terms (\(\leftarrow\) 3PM)</li>
			  <li class="bg4PM">5-point Lagrangian: 36 terms (\(\leftarrow\) 4PM)</li>
			</ul>
		  </div>
		  <div class="column">
			With field redefinitions:
			<ul>
			  <li>2-point Lagrangian: 2 terms</li>
			  <li>3-point Lagrangian: 4 terms</li>
			  <li>4-point Lagrangian: 12 terms</li>
			</ul>
		  </div>
		</div>
		We chose to not use field redefinitions to preserve the simple one-particle coupling to the WL. (Maybe we should for finite-size effects + spin?)
	  </div>

	  <div id="pmeft3" class="step" data-rel-x="0" data-rel-y="840">
		<h3><span class="h3span">PM deflecti<span class="orange">o</span>n</span></h3>
		Having integrated out potential gravitons we have:
		$$S_{\rm eff} = \sum_{n=0}^\infty \int \dd\tau_1\,G^n \cL_n [x_1(\tau_1),x_2(\tau_2)]$$
		with
		$$\cL_0 = - \frac{m_1}{2} \eta_{\mu\nu} v_1^\mu(\tau_1) v_1^\nu(\tau_1)$$
		E.o.m. from variation of the action
		$$-\eta^{\mu\nu}\frac{\dd}{\dd\tau_1} \left(\frac{\partial \cL_0}{\partial  v^\nu_1}\right) = m_1  \frac{\dd v_1^\mu}{\dd\tau_1}  = -\eta^{\mu\nu}\left(\sum_{n=1}^{\infty} \frac{\partial \cL_n}{\partial x^\nu_1(\tau_1)} - \frac{\dd}{\dd\tau_1} \left(\frac{\partial \cL_n}{\partial  v^\nu_1}\right)\right)$$
		allows us to compute the trajectories order by order:
		$$x^\mu_a(\tau_1) = b^\mu_a + u^\mu_a \tau_a + \sum_n G^n \delta^{(n)} x^\mu_a (\tau_a)$$
		with \(b=b_1-b_2\) the impact parameter and \(u_a\) the incoming velocty at infinity, fulfilling
		$$u_1\cdot u_2 = \gamma\,, \quad u_a\cdot b = 0\,.$$
	  </div>

	  <div id="pmeft4" class="step" data-rel-x="0" data-rel-y="880">
		<h3><span class="h3span">Scattering angle<span class="orange">.</span></span></h3>
		First we compute the deflection using above trajectories:
		$$\Delta p^\mu_1= m_1\Delta v^\mu_1 = - \eta^{\mu\nu} \sum_n \int_{-\infty}^{+\infty} \dd\tau_1 {\partial \cL_n  \over\partial x^\nu_1}\,,$$
		<div class="row">
		  <div class="column bg3PM">
			At 3PM:
			<ul>
			  <li>\(\cL_1\left[b_a+u_a\tau_a+\delta^{(1)}x_a+\delta^{(2)}x_a\right]\)</li>
			  <li>\(\cL_2\left[b_a+u_a\tau_a+\delta^{(1)}x_a\right]\)</li>
			  <li>\(\cL_3\left[b_a+u_a\tau_a \right]\)</li>
			</ul>
		  </div>
		  <div class="column bg4PM">
			At 4PM:
			<ul>
			  <li>\(\cL_1\left[b_a+u_a\tau_a+\delta^{(1)}x_a+\delta^{(2)}x_a+\delta^{(3)}x_a\right]\)</li>
			  <li>\(\cL_2\left[b_a+u_a\tau_a+\delta^{(1)}x_a+\delta^{(2)}x_a\right]\)</li>
			  <li>\(\cL_3\left[b_a+u_a\tau_a+\delta^{(1)}x_a \right]\)</li>
			  <li>\(\cL_4\left[b_a+u_a\tau_a\right]\)</li>
			</ul>
		  </div>
		</div>
		Physical scattering angle is then simply
		$$2\sin\left(\frac{\chi}{2}\right)  = \frac{|\Delta \bp_{1{\rm cm}} |}{p_\infty}= \frac{\sqrt{-\Delta p_1^2}}{p_\infty}$$
		<p class="center">
		<img id="scatteringFig" src="figures/scattering.svg" alt="scattering"/>
		</p>
	  </div>

	  <div id="integrals" class="step" data-rel-x="0" data-rel-y="850">
		<h3><span class="h3span">Integrati<span class="orange">o</span>n</span></h3>
		For an alternative derivation of the same integrand using a dynamical WL see <span class="refInline">Gustav's talk.</span><br/>
		Generic structure:
		$$
		\int \dd^Dq\frac{\delta(q\cdot u_1)\delta(q\cdot u_2)e^{i b\cdot q}}{(q^2)^m}
		\underbrace{\int \dd^D\ell_1\cdots\dd^D\ell_L\frac{\delta(\ell_1\cdot u_{a_1})\cdots\delta(\ell_L\cdot u_{a_L})}{(\ell_1\cdot u_{b_1}\pm i0)^{i_1}\cdots(\ell_L\cdot u_{b_L}\pm i0)^{i_L}(\textrm{sq. props})}}_{\textrm{Cut Feynman integrals with linear and square propagators}}
		$$
		<ul>
		  <li>Always one delta function per loop momentum of the form \(\delta(\ell\cdot u_a)\).</li>
		  <li>The other combination might appear as a linear propagator in iterations. </li>
		  <li>Automatically land in soft classical integrals (see <span class="refInline">Michael's, Julio's, Gabriele's and Carlo's talk</span>)</li>
		  <li class="bg3PM">3PM: a single set of square propagators captures all integrals (i.e. the cut H-family).</li>
		  <ul class="bg3PM">
			<li>Need a subset of integrals discussed in <span class="refInline">[BCRSSZ 18; Parra-Martinez, Ruf, Zeng 20]</span></li>
			<li>In total 876 different integrals (including different \(\pm i0\) prescriptions)</li>
		  </ul>
		  <li class="bg4PM">4PM: we were able to embed all integrals using two families of square propagators.</li>
		  <ul class="bg4PM">
			<li>In total 79332 different integrals (including different \(\pm i0\) prescriptions)</li>
		  </ul>
		</ul>
	  </div>

	  <div id="ibp" class="step" data-rel-x="0" data-rel-y="750">
		<h3><span class="h3span">IBP relati<span class="orange">o</span>ns</span></h3>
		<p class="refParent"><span class="ref">[Chetyrkin, Tkackov 81; Gehrmann, Remiddi 2000]</span></p>
		<ul>
		  <li>Very efficient algorithms using integration by part and Lorentz invariance identities to reduce to small subset of independent integrals, e.g. <span class="refInline">[Laporta 00, Lee 10]</span></li>
		  <li>Implemented in many public packages, e.g. LiteRed, FIRE, Kira, Reduze, AIR.</li>
		  <li>Delta functions behave like linear propagators under IBPs (exponent = derivative). Additionally, integrals with negative power delta functions vanish.</li>
		  <ul>
			<li>Use <span class="tt">CutDS->{...}</span> in LiteRed</li>
			<li>Use <span class="tt">RESTRICTIONS={...}</span> in FIRE</li>
			<li>Significant speed-up!</li>
		  </ul>
		  <li>We use a combination of LiteRed+FIRE6, <span class="bg3PM">3PM: ~5 minutes</span>, <span class="bg4PM">4PM: ~7 hours</span> (4 cores, 32GB RAM)</li>
		  <li class="bg3PM">3PM: 7 master integrals without linear propagators, 2 master integrals with linear propagators.</li>
		  <li class="bg4PM">4PM: so far we brought the system down to 149 master integrals. (But we know that we are missing some symmetries...)</li>
		</ul>
	  </div>

	  <div id="canonical" class="step" data-rel-x="0" data-rel-y="750">
		<h3><span class="h3span">DEQs and the canonical f<span class="orange">o</span>rm @ 3PM</span></h3>
		Compute the master integrals using differential equations and their canonical form <span class="refInline">[Kotikov, Remiddi, Gehrmann 91, 98, 99; Henn 13, 14]</span>.
		<ul>
		  <li>This method for our integrals was discussed in <span class="refInline">[Parra-Martinez, Ruf, Zeng 20]</span>.</li>
		  <li>Single scale \(\gamma=u_1\cdot u_2=(x^2-1)/(2x)\): \(\partial/\partial x \vec I = \mathbb{M}\cdot \vec I\)</li>
		  <li>Having found a canonical form, series exansion in \(\epsilon\) is very simple</li>
		  <li>Boundary conditions are 3D (due to delta functions) static integrals, already familiar from PN-EFT.</li>
		</ul>
		Final Fourier transform is known to all orders:
		$$\Delta p_a^\mu = \int \dd^Dq (A \overbrace{q^\mu}^{-i \frac{\partial}{\partial b_\mu}} + \underbrace{B u_1^\mu + C u_2^\mu}_{\substack{\textrm{bootstrap from}\\ \textrm{on-shell condition}\\ (\Delta p_a+p_a)^2=p_a^2}}) \frac{\delta(q\cdot u_1)\delta(q\cdot u_2)e^{i b\cdot q}}{(q^2)^{m+n}}$$
		(NB: using on-shell constraints we only need terms \(\sim \partial/\partial b^\mu\). Eikonal?)
	  </div>

	  <div id="NNNLO" class="step" data-rel-x="0" data-rel-y="730">
		<h3><span class="h3span">Where are we at NNNL<span class="orange">O</span>?</span></h3>
		<p class="refParent"><span class="ref">[work with Z. Liu, G. Mogull, R. Porto ]</span></p>
		<ul>
		  <li>Simple 5-pt GR Feynman rules &#10004</li>
		  <li>Integrand &#10004</li>
		  <li>Map to two basic integral families &#10004</li>
		  <li>IBP reduction + symmetries &#10004 (can we do better?)</li>
		  <li>Solve DEQs: different approaches under consideration</li>
		  <ul>
			<li>Directly solve the DEQs</li>
			<li>Find canonical form (many packages: epsilon, Fuchsia, Canonica, INITIAL)</li>
			<li>Numerics + reconstruction</li>
		  </ul>
		  <li>Boundary conditions: in progress</li>
		  <ul>
			<li>Masters without linear propagators &#10004</li>
			<li>Masters with linear propagators: can be reduced to 2D integrals using symmetrization trick <span class="refInline">(see e.g. [Cheng, Wu 87; Saotome, Akhoury 13; Parra-Martinez, Ruf, Zeng 20])</span></li>
		  </ul>
		</ul>
	  </div>

	  <div id="continuation" class="step" data-rel-x="1700" data-rel-y="0" data-rel-to="pmeft">
		<h2>Analytic continuation and Firs<span class="orange">o</span>v's formula</h2>
		Let us get a feeling of the analytic continuation and some funny games we can play!
		$$i_r(j,\cE) \equiv \frac{{\cal S}_r}{GM\mu} =  {\rm sg}(\hat p_\infty
)\chi^{(1)}_j(\cE) - j \left(1 + \frac{2}{\pi} \sum_{n=1}  \frac{\chi^{(2n)}_j({\cE})}{(1-2n)j^{2n}}\right)$$
		What about \(\chi_j^{(3)}\)? 
	  </div>

	  <div id="Firsov" class="step" data-rel-x="0" data-rel-y="650">
		<h3><span class="h3span">Firs<span class="orange">o</span>v's formula</span></h3>
		Let's do a detour to the c.o.m. momentum along the trajectory:
		$$H(r,\bp) = E \Rightarrow \bp(r,E)$$
		Relation to angle most easily extracted from Firsov's formula
		$$\bar\bp^2(r,E) = \exp\left[ \frac{2}{\pi} \int_{r|\bar\bp(r,E)|}^\infty \frac{\chi_b(\tilde b,E)\dd\tilde b}{\sqrt{\tilde b^2-r^2\bar\bp^2(r,E)}}\right]$$
		In PM language:
		$$\bp(r,E) = p_\infty^2\left( 1+ \sum_{n=1}^\infty f_n(E) \left(\frac{GM}{r}\right)^n \right) \,,\quad \frac{\chi}{2} = \sum_{n=1}^\infty \chi^{(n)}_b(E) \left(\frac{GM}{b}\right)^n $$
		<div class="center">
		  <div class="centerBox">
			$$f_n = \sum_{\sigma\in\mathcal{P}(n)}g_\sigma^{(n)} \prod_{\ell} \left(\widehat{\chi}_b^{(\sigma_{\ell})}\right)^{\sigma^{\ell}}$$
		  </div>
		</div>
		$$\widehat{\chi}_b^{(n)} = \frac{2}{\sqrt{\pi}}\frac{\Gamma(\frac{n}{2})}{\Gamma(\frac{n+1}{2})}\chi^{(n)}_b\,,\quad g_\sigma^{(n)} = \frac{2(2-n)^{\Sigma^{\ell} - 1}}{\prod_{\ell} (2\sigma^{\ell})!!}$$
	  </div>
	  
	  <div id="ir3PM" class="step" data-rel-x="0" data-rel-y="810">
		<h3><span class="h3span">Radial acti<span class="orange">o</span>n at 4PM</span></h3>
		$$i_r (j,\cE) = -j + \frac{\hat p_\infty^2}{ \sqrt{-\hat p_\infty^2}} \frac{f_1}{2} +  \frac{\hat p_\infty^2}{2j} f_2 +  \frac{\hat p_\infty^4}{8j^3}\Big( f_2^2 +2 f_1f_3+2f_4 \Big) +\cdots$$
		where in turn
		$$\begin{align}
		f_1 &= \frac{2\chi_j^{(1)}}{\hat p_\infty}\,,\\
		f_2 &= \frac{4 \chi_j^{(2)}}{\pi \hat p_\infty^2}\,,\\
		f_3 &= \frac{\left(\chi_j^{(1)}\right)^3}{3 \hat p_\infty^3} - \frac{4 \chi_j^{(1)} \chi_j^{(2)}}{\pi \hat p_\infty^3} + \frac{\chi_j^{(3)}}{\hat p_\infty^3}\,,\\
		f_4 &= \frac{8 \chi_j^{(4)}}{3 \pi \hat p_\infty^4}+\dots \quad (\leftarrow\textrm{That's our missing guy})
		\end{align}$$
	  </div>

	  <div id="resummation" class="step" data-rel-x="1700" data-rel-y="0" data-rel-to="continuation">
		<h2>Resummati<span class="orange">o</span>n</h2>
		<p>
		  Let us truncate our theory at given order \(n\), i.e. \(\cM_m=f_m=0\) for \(m \geq n\).<br/>
		  We can try to resum contributions to all orders in \(G\), e.g. for the scattering angle:
		  <div class="center">
			<div class="centerBox">
			  $$\begin{align*}
			  \frac{\chi[f_1]}{2} &= \Arctan(y/2)\\
			  \frac{\chi[f_{1,2}]+\pi}{2} &= \frac{1}{\sqrt{1-{\cF}_2 y^2}}\left(\frac{\pi}{2} + \Arctan\left(\frac{y}{2\sqrt{1-{\cF}_2 y^2}}\right)\right)
			  \end{align*}$$
			  <p class="center small">
				with \(y \equiv G M f_1/b\) and \(\cF_2 \equiv f_2/f_1^2\)
			  </p>
			</div>
		  </div>
		</p>
		<ul>
		  <li> Resummation of \(\Delta\phi\) works similar to \(\chi\).</li>
		  <li> We can resum parts of \(\cS_r\).</li>
		  <li> We can resum \(f_{1,2}\) contributions for \(r_\textrm{min}\) and \(r_\pm\). ("closed form" for real positive roots of arbitrary order polynomial?)</li>
		  <li> Difficult for \(f_{1,2,3}\). Anyone can do it?</li>
		</ul>
      </div>

	  <div id="conclusions" class="step" data-rel-x="1700" data-rel-y="0" data-rel-to="resummation">
		<h2>Conclusions and outl<span class="orange">o</span>ok</h2>
		<ul>
		  <li>We have a systematic and efficient setup to study the gravitational 2-body problem in its full glory.</li>
		  <li>Integration is the bottleneck, but there is a lot of new technology around to help us.</li>
		  <li>Can we improve our setup by making contact to the eikonal?</li>
		  <li>4PM is not far!</li>
		  <li>Using Firsov, we can resum certain contributions to all orders in G.</li>
		  <ul>
			<li>Will also help us for analytic continuation of radiation, radiation-reaction</li>
		  </ul>
		</ul>
		<br/>
		<br/>
		<br/>
		<p class="small">
		  This research is supported by the ERC-CoG “Precision Gravity: From the LHC to LISA” provided by the European Research Council (ERC) under the European Union’s H2020 research and innovation programme (grant No. 817791), by the DFG under Germany’s Excellence Strategy ‘Quantum Universe’ (No. 390833306), and by the Knut and Alice Wallenberg Foundation (grant KAW 2018.0441).
		</p>
	  </div>

  	</div>

	<div id="impress-toolbar"></div>

	<!--
	<div class="hint">
      <p>Use a spacebar or arrow keys to navigate. <br/>
		Press 'P' to launch speaker console.</p>
	</div>
	-->
	<script>
	  if ("ontouchstart" in document.documentElement) { 
		  document.querySelector(".hint").innerHTML = "<p>Swipe left or right to navigate</p>";
	  }
	  </script>

	<script src="js/impress.js"></script>
	<script>impress().init();</script>

	<script type="text/javascript">
	  //play and pause video when entering and leaving slide
	  const vid = document.querySelector('video');
	  const vidSlide = document.getElementById('mergerClip');

	  //which mutations to observe
	  const config = {attributes: true};

	  function playVid() {
		  vid.play();
	  };
	  function stopVid() {
		  vid.pause();
		  vid.currentTime = 0;
	  };

	  //handle the class attribute change of the 
	  const callback = function(mutationsList, observer) {
		  for (let mutation of mutationsList) {
			  if (mutation.type == 'attributes' && mutation.attributeName == 'class') {
				  if (mutation.target.classList.contains('active')) {
					  playVid();
				  } else {
					  stopVid();
				  }
			  }
		  }
	  };

	  const observer = new MutationObserver(callback);

	  observer.observe(vidSlide, config);
	</script>

  </body>
</html>
